.navbar {
  background: rgb(29, 33, 36);
  box-shadow: 0 1px 6px #a49696;
  z-index: 1;

  .nav-item {
    &.dropdown {
      &.edge {
        .dropdown-menu {
          position: absolute;
          left: auto;
          right: 0;
        }
      }

      .dropdown-menu {
        &.show {
          margin-top: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          min-width: 200px;

          .dropdown-item {
            &.current {
              color: #000;
              font-weight: bold;
              border-bottom: none;
            }
          }

          div {
            a {
              font-weight: bold;
              text-decoration: underline;
            }
          }

          a {
            padding: 5px 25px;
          }
        }
        @media (min-width: 992px) {
          &.show {
            margin-top: 33px;
          }
        }
      }
    }

    a {
      &.navbar-brand {
        font-weight: 500;
        font-size: 25px;
        color: #fff;
      }

      &.nav-link {
        letter-spacing: 0.1em;
        font-size: 14px;

        &.link {
          color: #fff;
        }

        &.link:hover {
          color: #a9a9a9;
        }
      }

      &.current {
        color: #fff;
        border-bottom: 2px solid #ff641c;
      }

      &.current:hover {
        color: #fff;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 100px;
  }
}
