.typography {
  height: 100%;

  .title {
    letter-spacing: 3px;
    font-weight: 700;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.background-image-extra {
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-height: 100%;

  .home-user-details {
    background: rgba(241, 241, 241, 0.8);
    padding: 40px;
    min-height: 300px;
    animation: slideInRight 5s;
  }

  .personal-statement {
    background: rgba(255, 255, 255, 0.65);
    padding: 20px;
    height: 100%;
    animation: slideInLeft 5s;

    .profile {
      width: 190px;
    }
  }

  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      opacity: 1;
    }
  }

  .heading {
    letter-spacing: 0.05em;
    color: #182153;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .user {
    letter-spacing: 0.03em;
    color: #182153;
    font-size: 35px;
    font-weight: 700;
  }

  .details {
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 18px;
  }

  .cv-button {
    padding: 10px 0;
  }

  .social-icons {
    background-color: rgba(24, 33, 83, 0.7);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideUp 5s;

    & i {
      color: #fff;
      font-size: 30px;
    }

    & i:hover {
      color: orangered;
    }
  }

  @keyframes slideUp {
    0%{
      opacity: 0;
      transform: translateY(250px);
    }
    50%{
      transform: translateY(0);
    }
    100%{
      opacity: 1;
    }
  }
}


@media screen and (min-width: 768px) {
  .home-user-details {
    padding: 50px 50px 20px 50px;
  }
}


@media (min-width: 768px) {
  .cv-button {
    position: absolute;
    bottom: 0;
    padding: 30px 0;
    width: 90%;
  }
}
