.portfolio-page {
  .portfolio-form {
    fieldset{
      display: inline;
      width: 100%;
      .language-search-dropdown {
        background: inherit;
        margin: 10px 0;
        width: 100%;
        color: rgb(255,0,0);
      }

      label {
        color: #fff;
        margin-bottom: 0;
      }

      #Form_SearchPortfolio_language_Holder {
        width: 100%;
        display: inline-block;
      }

      .project-type {
        background: inherit;
        margin: 10px 0;
        width: 100%;
        color: rgb(255, 0, 0);
        height: calc(2.25rem + 2px);
      }

      #Form_SearchPortfolio_project-type_Holder{
        width: 100%;
        display: inline-block;
      }

      @media (min-width: 768px) {
        #Form_SearchPortfolio_language_Holder {
          width: 50%;
        }
        #Form_SearchPortfolio_project-type_Holder{
          width: 49%;
        }
      }
    }
  }


  .article-wrapper {
    padding: 50px;
    background: rgba(22, 20, 20, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px inset;
    margin-bottom: 15px;
    animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .article-wrapper:hover {
    background: rgba(23, 8, 136, 0.65);
    transform: scale(1.05);
  }

  a {
    color: #fff;
    font-size: 20px;
  }

  a:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .pagination {
    display: flex;
    justify-content: center;

    .page-item {
      margin: 0 5px;

      .page-link {
        color: #000;
        border-radius: 50%;
        font-size: 14px;
      }

      &.active {
        .page-link {
          font-weight: bold;
        }
      }

      &.left {
        .page-link {
          border-radius: 0 25px 0 25px;
        }
      }

      &.right {
        .page-link {
          border-radius: 25px 0 25px 0;
        }
      }

      &.disabled {
        .page-link {
          color: #dddddd;
        }
      }
    }
  }
}

.bread-crumb {
  padding: 10px;
  background: rgba(37, 35, 35, 0.4);
  padding: 10px;
  color: #dddddd;
}

img {
  &.port-images {
    width: 100%;
  }
}

.attribution {
  color: #fff;
  background-color: rgba(25, 32, 41, 0.5);
}

.swiper-wrapper {
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  //border-radius: 5px;

  .language-wrapper {
    position: absolute;
    z-index: 100;
    bottom: 25px;
    left: 20px;

    .language-tag {
      background: rgba(0, 0, 0, .075);
      padding: 5px 10px;
      border-radius: 0 15px 0 15px;
      border: 1px solid #eee;
      color: #eee;
      font-weight: 300;
    }
  }
}

.mobile-language-wrapper {
  background: rgba(29, 33, 36, 0.3);
  margin: 10px 0;
  padding: 5px;

  .mobile-language-tag {
    background: rgba(0, 0, 0, .075);
    padding: 5px 10px;
    border-radius: 0 15px 0 15px;
    border: 1px solid #eee;
    color: #eee;
    font-weight: 300;
  }
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}