////Text Styles
$font-sans: 'Open Sans', sans-serif;
$black: #1d2124;
$white: #ffffff;

.timeline-wrapper {
  min-width: 300px;
  max-width: 800px;
  padding: 0 15px;
  margin: 30px auto;

  .content {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    //border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    //border-image-slice: 1;
    //border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: $white;
    opacity: 0;

    &.loaded {
      opacity: 1;
      transition: all 700ms ease-in;
    }


    //numbers
    &:before {
      content: counter(section);
      position: absolute;
      //border-radius: 50%;
      padding: 17px;
      //height: 1em;
      //width: 1em;
      background-color: $black;
      line-height: 0;
      color: $white;
      font-size: 1em;
      text-align: left;
      border: 1px solid $white;
    }
  }

  //odd number borders
  .content:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;

    &:before {
      left: 100%;
      margin-left: -30px;
    }
  }

  //even number borders
  .content:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;

    &:before {
      right: 100%;
      margin-right: -30px;
    }
  }

  //handle first and last
  .content:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .content:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


  .time-description {
    font-size: 13px;
    font-style: italic;
  }

  .time-heading {
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 24px;
    color: #d01145;
  }

  .time-sub-heading {
    font-weight: 700;
    font-size: 18px;
  }

  .time-date {
    font-size: 13px;
    //font-style: italic;
    position: absolute;
    right: 20px;
    color: #fff;
    font-weight: 700;
    bottom: 0;
  }

  @media (min-width:768px) {
    .time-date {
      top: 44px;
      bottom: unset;
      right: 44px;
      background-color: rgba(255,255,255,0.2);
      padding: 5px 15px;
    }
  }
}

@media (min-width: 992px) {
  .timeline-wrapper {
    .content:nth-child(odd) {
      &:before {
        margin-left: -15px;
      }
    }

    .content:nth-child(even) {
      &:before {
        margin-right: -15px;
      }
    }
  }
}
