.typography {
    height: 100%;
}

.homepage-wrapper {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)), url("../../img/architecture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}

.home-user-details {
    background: rgba(241, 241, 241, 0.8);
    padding: 20px;
}

@media screen and (min-width: 768px){
    .home-user-details {
        padding: 50px 50px 20px 50px;
    }
}

.heading {
    letter-spacing: 0.05em;
    color: #182153;
    margin-top: 10px;
    font-weight: 600;
}

.user {
    letter-spacing: 0.05em;
    color: #182153;
    font-size: 25px;
}

.details {
    font-weight: 100;
    letter-spacing: 0.05em;
    font-size: 13px;
}

.social-icons {
    background-color: rgba(24, 33, 83, 0.7);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons i {
    color: #fff;
    font-size: 25px;
}

.social-icons i:hover {
    color: orangered;
}


.profile {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 190px;
}

.personal-statement {
    background: rgba(255,255,255,0.65);
    padding: 20px;
    height: 100%;
}

.cv-button {
    position: absolute;
    bottom: 0;
    padding: 30px 0;
    width: 80%;
}