.skill-description {
    font-weight: 100;
}

.skill-wrapper {
    background-color: rgba(255,2555,255,0.7);
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    animation: fadein 4s;
}

.tiles-skills h1 {
    color: #fff;
    font-weight: 100;
    text-shadow: 1px 1px #000;
}

.skill-title {
    font-size: 20px;
    font-weight: 200;
}

.timeline-content {
    opacity: 0;
}

.timeline-content.loaded {
    opacity: 1;
    transition: all 700ms ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}